apps/nodered/node_red/flow_OEC_PLC.json
[
  {
    "id": "df467f4f4424b9eb",
    "type": "tab",
    "label": "ORMAT PLC to influxDB",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4bd20db739a71fe6",
    "type": "modbus-read",
    "z": "df467f4f4424b9eb",
    "name": "OEC PLC",
    "topic": "Test",
    "showStatusActivities": true,
    "logIOActivities": false,
    "showErrors": true,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "1",
    "quantity": "1",
    "rate": "1",
    "rateUnit": "s",
    "delayOnStart": true,
    "startDelayTime": "5",
    "server": "703c67818f673379",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "x": 210,
    "y": 140,
    "wires": [["fb110d7bfe466167"], []]
  },
  {
    "id": "fb110d7bfe466167",
    "type": "debug",
    "z": "df467f4f4424b9eb",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 140,
    "wires": []
  },
  {
    "id": "845db029268c5ed3",
    "type": "modbus-flex-connector",
    "z": "df467f4f4424b9eb",
    "name": "Read OEC PLC",
    "maxReconnectsPerMinute": 4,
    "emptyQueue": false,
    "showStatusActivities": false,
    "showErrors": true,
    "server": "703c67818f673379",
    "x": 370,
    "y": 280,
    "wires": [["6c8dbd7cc7e0a770"]]
  },
  {
    "id": "6c8dbd7cc7e0a770",
    "type": "debug",
    "z": "df467f4f4424b9eb",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 280,
    "wires": []
  },
  {
    "id": "2b396f7d7a1b991c",
    "type": "inject",
    "z": "df467f4f4424b9eb",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 140,
    "y": 280,
    "wires": [["845db029268c5ed3"]]
  },
  {
    "id": "703c67818f673379",
    "type": "modbus-client",
    "name": "OEC PLC",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": true,
    "queueLogEnabled": true,
    "tcpHost": "172.20.28.41",
    "tcpPort": "2222",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": 1,
    "commandDelay": 1,
    "clientTimeout": 5000,
    "reconnectOnTimeout": true,
    "reconnectTimeout": 10000,
    "parallelUnitIdsAllowed": true
  }
]
